
body {
  background: #ff6a9e; 
  background: -moz-linear-gradient(left,  #ff6a9e 0%, #ffa1c5 100%); 
  background: -webkit-linear-gradient(left,  #ff6a9eab 0%,#ffb7d3 100%);
  background: linear-gradient(to right,  #ff6a9e 0%,#ffb5d1d5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a9e', endColorstr='#f0e8ff',GradientType=1 ); 
}
#wrap {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 0 25px 0;
  width: 100%;
  min-width: 100%;
}

@media all and (min-width: 768px) {
  #wrap {
    margin-top: 115px;
  }
  .container {
    padding: 60px 5% 37.5px 5%;
    width: 80%;
    min-width: 80%;
    border-radius: 20px;
  }
}

@media all and (min-width: 1024px) {
  #wrap {
    margin-top: 150px;
  }
  .container {
    padding: 100px 5% 40px 5%;
    width: 70%;
    min-width: 70%;
    border-radius: 30px;
  }
}

@media all and (min-width: 1440px) {
  .container {
    padding: 100px 3.5% 50px 3.5%;
    width: 55%;
    min-width: 55%;
  }
}