@charset "utf-8";

html, body { 
  overflow-x: hidden;
}    
body, p, input {
  margin: 0;
  padding: 0;
  line-height: 1;
}

header, footer, section { 
  display: block; 
}
a {
  text-decoration: none;
}
::selection {
  background: #333; 
  color: rgb(249, 132, 180);
}
button {
  border: none;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
}